// COLORS
$background-color: #13171d;
$card-background-color: #20242c;
$title-color: #fff;
$label-color: #979797;
$main-color: #3d6df8;

// RESPONSIVE BREAKPOINTS
$break-layout-tablet: 1024px;
$break-layout-mobile: 767px;
