@import "/src/styles/mixins";

.container {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	@include mobile {
		gap: 1.5rem;
	}

	.wrapper {
		display: grid;
		gap: 4rem;
		grid-template-columns: 3fr 2fr;

		.list {
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}
	}
}
