@import "/src/styles/mixins";

.container {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	@include mobile {
		gap: 1.5rem;
	}

	.list {
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(3, 1fr);

		@include tablet {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mobile {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
