@import "/src/styles/variables";

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;

	.container {
		transform: scale(0.8);
	}
}
