@import "/src/styles/variables";
@import "/src/styles/mixins";

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;

	@include mobile {
		display: none;
	}

	.container {
		transform: scale(0.8);
	}
}
