@import "/src/styles/variables";

.container {
	background-color: $card-background-color;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 1rem;

	.date {
		color: $label-color;
		font-size: 0.8rem;
	}

	.timer {
		display: flex;
		gap: 0.5rem;

		.value {
			color: $title-color;
			font-size: 1.563rem;
		}

		.label {
			color: $label-color;
			text-transform: uppercase;
			font-size: 0.8rem;
		}
	}
}
